/**
 * @Author: Your name
 * @Date:   2023-04-28 11:51:34
 * @Last Modified by:   Your name
 * @Last Modified time: 2024-02-28 15:14:21
 */
*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.header{
    display: flex;
    width: 100vw;
    min-width: 540px;
    justify-content: center;
}

.headerText{
    font-size: 2.2rem;
    text-align: center;
    padding: 1.5rem;
}

.logoContainer{
    max-width: 100%;
    max-height: 100%;
    width: 120px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
}

.logo{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    min-width: 540px;
}

.section{
    display: flex;
    gap: 10px;
}

.container1{
    width: 450px;
    display: grid;
    grid-template-columns: 0.8fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 15px;
    column-gap: 10px;
    margin-bottom: 20px;
}

.container2{
    margin-top: 20px;
    width: 450px;
    display: grid;
    grid-template-columns: 0.8fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 15px;
    column-gap: 10px;
}

/* INPUT ITEMS and UNITS */
.item1{
    padding-right: 53px; 
    text-align: right;
}

.span1{
    margin-left: -53px;
}

.sub-container{
    grid-column: 2 / 4;
}

.item2{
    padding-right: 60px; 
    text-align: right;
}

.span2{
    margin-left: -60px;
}

.titleText{
    font-size: 1.2rem;
}

.unit{
    text-align: center;
}

input{
    height: 1.5rem;
    width: 100%;
}

.calcBtn1{
    width: 3rem;
    cursor: pointer;
    font-weight: bolder;
    margin-top: 37px;
    margin-bottom: 20px;
}

.calcBtn2{
    width: 3rem;
    cursor: pointer;
    font-weight: bolder;
    margin-top: 20px;
}

.resetBtn{
    height: 2rem;
    width: 500px;
    font-weight: bolder;
    cursor: pointer;
}

.footer{
    display: flex;
    width: 100vw;
    min-width: 540px;
    justify-content: center;
    gap: 1rem;
    padding-top: 30px;
}

.contactUsTitle{
    font-weight: bolder;
    font-size: 1.3rem;
}

.contactInfo{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#page-container {
    position: relative;
    min-height: 100vh;
}
  
#content-wrap {
    padding-top: 1rem;
    padding-bottom: 8rem;    /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8rem;            /* Footer height */
}

@media (max-width: 540px) {
    #page-container {
        position: relative;
        min-height: 100dvh;
    }

    .header{
        min-width: 0px;
    }

    .small-screen-label {
      display: block;
    }
  
    .large-screen-label {
      display: none;
    }

    .container1{
        width: 300px;
        display: grid;
        grid-template-columns: 0.2fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        row-gap: 15px;
        column-gap: 10px;
        margin-bottom: 20px;
    }

    .container2{
        margin-top: 20px;
        width: 300px;
        display: grid;
        grid-template-columns: 0.2fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 15px;
        column-gap: 10px;
    }

    .content{
        min-width: 370px;
    }

    .resetBtn{
        height: 2rem;
        width: 300px;
        font-weight: bolder;
        cursor: pointer;
    }

    .footer{
        min-width: 370px;
    }

    .logoContainer{
        width: 100px;
    }

    .item1, .item2{
        font-size: 1rem;
    }
}
  
@media (min-width: 541px) {
    .small-screen-label {
      display: none;
    }
  
    .large-screen-label {
      display: block;
    }
}
button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid rgb(150, 149, 149);
    border-radius: 5px;
    padding: 0;
    margin: 0;
    background: rgb(223, 223, 223);
    cursor: pointer;
    outline: none;
    color: black;
}